<section>
    <div class="container">
        <div class="row g-5" id="slideImgs">
            <div class="col-md-4">
                <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="/images/poert1.png" class="w-100 rounded-3" alt="">
                    <div
                        class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                        <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <img src="/images/port2.png" class="w-100 rounded-3" alt="">
                    <div
                        class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                        <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    <img src="/images/port3.png" class="w-100 rounded-3" alt="">
                    <div
                        class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                        <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                    <img src="/images/poert1.png" class="w-100 rounded-3" alt="">
                    <div
                        class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                        <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                    <img src="/images/port2.png" class="w-100 rounded-3" alt="">
                    <div
                        class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                        <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    <img src="/images/port3.png" class="w-100 rounded-3" alt="">
                    <div
                        class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                        <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>


            <!-- Modal 1 -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img src="/images/poert1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img src="/images/port2.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img src="/images/port3.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img src="/images/poert1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img src="/images/port2.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img src="/images/port3.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- layer to show pic-->
<!-- <div id="lightBox" class="d-none">
<div class="img-wrapper position-relative bg-danger w-50">
    <img src="/images/port2.png" alt="" class="w-100 vh-90">
</div>
</div> -->




<!-- @for ( images of imgPath; track $index ) {
    <div class="col-md-4">
        <div class="pic position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img [src]=" images " class="w-100 rounded-3" alt="">
            <div
                class="layer rounded-3 d-flex justify-content-center align-items-center h-100 w-100 position-absolute start-0 top-0">
                <i _ngcontent-rvq-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
    </div>
} -->
