<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand fs-1 fw-bold text-white" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fs-5 fw-medium">
          <li class="nav-item px-3">
            <a class="nav-link text-white" aria-current="page" routerLinkActive="bg-danger rounded" routerLink="about" style="width: fit-content;">ABOUT</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link text-white" routerLinkActive="bg-danger rounded" routerLink="portfolio" style="width: fit-content;">PORTFOLIO</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link text-white" routerLinkActive="bg-danger rounded" routerLink="contact" style="width: fit-content;">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>