<section class="text-dark">
    <h2 class="fs-1 fw-bold my-4 text-center">CONTACT SECTION</h2>
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="line-star me-3"></div>
        <i class="fa-solid fa-star fs-5" style="color: #212529;"></i>
        <div class="line-star ms-3"></div>
    </div>




    
    <div class="mb-3 w-50 mx-auto p-3 mt-5 fs-6">
        <!-- <label for="userName" class="form-label text-danger">userName :</label> -->
        <input type="text" class="form-control border-0 border-bottom py-1 my-5 shadow-none" id="userName" placeholder="userName" [(ngModel)]="text">
        

        <!-- <label for="userAge" class="form-label pt-3 text-danger">userAge :</label> -->
        <input type="text" class="form-control border-0 border-bottom py-1 my-5 shadow-none" id="userAge" placeholder="userAge">


        <!-- <label for="userEmail" class="form-label pt-3 text-danger">userEmail :</label> -->
        <input type="text" class="form-control border-0 border-bottom py-1 my-5 shadow-none" id="userEmail" placeholder="userEmail">


        <!-- <label for="userPassword" class="form-label pt-3 text-danger">userPassword :</label> -->
        <input type="text" class="form-control border-0 border-bottom py-1 mt-5 shadow-none" id="userPassword" placeholder="userPassword">


        <button class="btn bg-danger text-white p-3 mt-4"> send Message </button>
    </div>


</section>