<section class="bg-danger text-center text-white">
    <div class="container">
        <img src="/images/download.svg" class="" alt="">
    </div>
    <div>
        <h2 class="fs-1 fw-bold my-4">START FRAMEWORK</h2>
        <div class="d-flex justify-content-center align-items-center mb-4">
            <div class="line-star me-3"></div>
            <i class="fa-solid fa-star fs-5" style="color: #ffffff;"></i>
            <div class="line-star ms-3"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>